<nav class="navbar-default navbar-static-side" role="navigation">
    <img alt="image" id="logo" class="img-circle" src="https://s3.eu-central-1.amazonaws.com/we-share-prod/weshare-logo-new.png"
    />

    <div class="sidebar-collapse">



        <ul class="nav metismenu" id="side-menu">
            <!-- <li class="nav-header">
                  
                    <div class="logo-element">
                        WeShare
                    </div>
                </li> -->
            <li>
                <a href="dashboard">
                    <i class="fa fa-tachometer"></i>
                    <span class="nav-label">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="events">
                    <i class="fa fa-calendar"></i>
                    <span class="nav-label">Events</span>
                </a>
            </li>
            <li>
                <a href="users">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">Users</span>
                </a>
            </li>
            <li>
                <a href="presents">
                    <i class="fa fa-gift"></i>
                    <span class="nav-label">Presents</span>
                </a>
            </li>
            <li>
                <a href="forum">
                    <i class="fa fa-clipboard"></i>
                    <span class="nav-label">Sticky Forum Post</span>
                </a>
            </li>
            <li>
                <a href="inspiration">
                    <i class="fa fa-check"></i>
                    <span class="nav-label">Inspiration Events</span>
                </a>
            </li>
            <li>
                <a href="banners">
                    <i class="fa fa-align-right"></i>
                    <span class="nav-label">Forum Banner Ads</span>
                </a>
            </li>
        </ul>
    </div>
</nav>